<a href="https://colab.research.google.com/github/daniel-usp/MBA-BIA-USP/blob/main/Aula_02_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Revisão da Aula 01 - O que é importante?

preco_do_copinho = 6.99 #isto é preço do copinho
desconto = 0.05 #Desconto de 10%

preco_final = preco_do_copinho - preco_do_copinho * desconto

print(preco_final)

6.6405

## Estruturas Condicionais (if/else)

In [6]:
# Um empresa necessita saber se ela bateu sua meta de
# venda mensal de R$150.000

#Variáveis de entrada
venda_do_mes = 100000
meta_de_venda = 150000

#Condição (if/else)
if (venda_do_mes >= meta_de_venda):
  print("bateu a meta")
else:
  print("não bateu a meta")

não bateu a meta

In [8]:
# Solicita a idade do usuário
idade = int(input("Por favor, insira sua idade: "))

# Verifica se a idade é maior ou igual a 18
if idade >= 18:
    print("Você pode beber.")
else:
    print("Você não pode beber.")

Por favor, insira sua idade: 16
Você não pode beber.

#Listas

In [19]:
vendas = [10,4,15,22,23,30]

vendas[:2] #Pegar os dois primeiros elementos

vendas[:4] #Pegar os quatro primeiros

vendas[2:] #Pegar os elementos a partir do terceiro

vendas[2:5]

soma_vendas_primeiro_trimestre = sum(vendas[:3])
print(soma_vendas_primeiro_trimestre)

soma_vendas_segundo_trimestre = sum(vendas[3:])
print(soma_vendas_segundo_trimestre)

29
75

In [22]:
numerador = 2
denominador = 5

if denominador != 0:
    resultado = numerador / denominador
    print(f"Resultado: {resultado}")
else:
    print("Erro: Divisão por zero não é permitida.")

Resultado: 0.4

In [35]:
# Lista de Vendas Anuais

vendas_2023 = [10,22,23,34,35,36,
               35,34,32,37,38,40]

#Soma das Vendas Anuais
sum(vendas_2023)

#Média das Vendas Anuais
sum(vendas_2023) / len(vendas_2023)

#Soma das Vendas do primeiro semestre
vendas_primeiro_semestre = vendas_2023[:6]
print("primeiro", sum(vendas_primeiro_semestre))

#Soma das Vendas do segundo semestre
vendas_segundo_semestre = vendas_2023[6:]
print("segundo", sum(vendas_segundo_semestre))

primeiro 160
segundo 216

In [36]:
# Lista de Vendas Anuais
vendas_2023 = [10, 22, 23, 34, 35, 36, 35, 34, 32, 37, 38, 40]

# Encontrar a maior venda
maior_venda = max(vendas_2023)

# Imprimir a maior venda
print("A maior venda que ocorreu em 2023 foi:", maior_venda)

A maior venda que ocorreu em 2023 foi: 40

In [39]:
localizacao = input("Digite sua localização (ex: SP, RJ, MG): ")

if localizacao == "SP":
  print("Você receberá um cupom de desconto de 10% em sua próxima compra!")
elif localizacao == "RJ":
  print("Você receberá frete grátis em sua próxima compra!")
elif localizacao == "MG":
  print("Você receberá um brinde especial em sua próxima compra!")
else:
  print("Infelizmente, não temos nenhuma campanha ativa para sua região no momento.")

Digite sua localização (ex: SP, RJ, MG): SC
Infelizmente, não temos nenhuma campanha ativa para sua região no momento.

In [53]:
#Comando for

#Toda lista é um iterável
lucros = [10,-5,-10,10,20] #Lista dos Lucros da Hamburgueria

#Pegar um a um

'''
status = [] #Status será uma lista
for lucro in lucros:
  if lucro > 0:
    status.append("Mês com lucro")
  else:
    status.append("Mês com prejuízo")
status
'''

#List Comprehension
status = ["Mês com lucro" if lucro > 0 else "Mês com prejuízo"
          for lucro in lucros]
status

['Mês com lucro',
 'Mês com prejuízo',
 'Mês com prejuízo',
 'Mês com lucro',
 'Mês com lucro']

In [54]:


status = [] #Status será uma lista
for lucro in lucros:
  if lucro > 0:
    status.append("Mês com lucro")
  else:
    status.append("Mês com prejuízo")
status

['Mês com lucro',
 'Mês com prejuízo',
 'Mês com prejuízo',
 'Mês com lucro',
 'Mês com lucro']

In [50]:
vendas = [10,20,30,50]

#Somar vendas
sum(vendas)

vendas.append(60)
print(vendas)
#Inserir o número 60 no final das Vendas
vendas.append(60)
print(vendas)

#Inserir o número 5 no início da lista de Vendas
vendas.insert(0,5)
print(vendas)

#Remover o número 10 da lista de Vendas
vendas.remove(10)
print(vendas)

[10, 20, 30, 50, 60]
[5, 10, 20, 30, 50, 60]
[5, 20, 30, 50, 60]